:root {
  --CV-margin-border: 0.35in;
  --CV-margin-inner: 10px;
  --CV-input-padding: 4px;
  --CV-input-border: 2px;
}
.sectionHeading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.sectionBreak {
  border: 0.5px solid black;
  width: 100%;
  padding-right: var(--CV-margin-border);
}
.cvText__disp {
    font-size: 1rem;
  }
.trashIcon {
  margin: 0px 10px;
}
.visHidden {
  visibility: hidden;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonContainer {
  display: flex;
}


