:root {
  font-size: 16px;
  --CV-margin-border: 0.35in;
  --CV-margin-inner: 10px;
  --CV-input-padding: 4px;
  --CV-input-border: 2px;
}
html {
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}
.instructions {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.sectionHeading {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sectionBreak {
  border: 0.5px solid black;
  width: 100%;
  padding-right: var(--CV-margin-border);
}
.cvText__disp {
  font-size: 1rem;
}
.trashIcon {
  margin: 0px 10px;
  color: rgb(138, 122, 36);
}
.visHidden {
  visibility: hidden;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonContainer {
  display: flex;
}
.cvEditButton {
  width: fit-content;
  background-color: rgb(138, 122, 36, 0.5);
  color: #f4f9e9;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  margin-right: 10px;
  font-size: 1rem;
  font-family: inherit;
}
.cvEditButton:hover {
  background-color: rgb(138, 122, 36);
  cursor: pointer;
  font-weight: 600;
}
.buttonContainer :last-child {
  margin-right: 0px;
}
.addIcon {
  margin: 0px 15px;
  color: rgb(138, 122, 36, 0.5);
}
.addIcon:hover {
  color: rgb(138, 122, 36);
  cursor: pointer;
  font-weight: 600;
}
#pdfExportButton {
  width: fit-content;
  background-color: rgb(138, 122, 36, 0.5);
  color: #f4f9e9;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  font-weight: 600;
  margin: 20px 0px;
  font-size: 1rem;
  font-family: inherit;
}
#pdfExportButton:hover {
  background-color: rgb(138, 122, 36);
  cursor: pointer;
  font-weight: 600;
}
.currentRow {
  background-color: rgb(138, 122, 36, 0.5);
  color: #f4f9e9;
  border-radius: 3px;
}
.currentRow:hover {
  font-weight: 600;
}
.currentRow > *:hover {
  cursor: pointer;
}
.currentCheckbox {
  margin: 0px 10px 0px 0px;
}
.startRow {
  display: flex;
  align-items: center;
}
.noDisplay {
  display: none;
}
