#cvCont {
  display: flex;
  flex-direction: row;
  width: clamp(400px, 816px, 100vw);
  min-height: 1056px;
  margin: 0px auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #eef0eb;
}
#cvMainLeft {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  background-color: hsl(84, 14%, 83%);
}
#cvMainRight {
  display: flex;
  flex-direction: column;
  flex: 2 0 0;
  margin-left: var(--CV-margin-inner);
}
