#cvHeader {
  height: 290px;
  display: flex;
  flex-direction: column;
  color: #f4f9e9;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
}
#cvHeaderTop {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: var(--CV-margin-border) 0px 0px var(--CV-margin-border);
  background-color: #284b63;
}
#cvHeaderName {
  display: flex;
  flex-direction: column;
}
#cvHeaderBottom {
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* width: 100%; */
  justify-content: flex-end;
  background-color: hsl(204, 42%, 37%);
  padding-left: var(--CV-margin-border);
  padding-top: 12px;
  padding-bottom: 12px;
  /* border-bottom-right-radius: inherit; */
}
#cvHeader .fieldDisp:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.firstName__disp,
.lastName__disp {
  font-size: 2rem;
}
.lastName__disp,
.lastName__textArea {
  font-weight: bold;
}
.firstName__textArea,
.lastName__textArea {
  font-size: 1.5rem;
}

.title__disp,
.title__form {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 15px;
  font-style: italic;
}
.title__textArea {
  font-size: 1.1rem;
}

.contactInfo {
  margin: 4px 0px;
}
.contactIcon {
  margin-right: var(--CV-margin-inner);
}
.contactInfo,
.contactIcon {
  font-size: 0.85rem;
}
