#cvHeader {
  height: 300px;
  display: flex;
  flex-direction: column;
  color: #f4f9e9;
  background-color: #284b63;
}
#cvHeader .fieldTextArea {
  background-color: rgba(255, 255, 255, 0.2);
}
#cvHeaderTop {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--CV-margin-border) 0px 0px var(--CV-margin-border);
}
#cvHeaderName {
  flex: 2 0 0;
  display: flex;
  flex-direction: column;
}
#cvHeaderBottom {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: space-between;
  padding-left: var(--CV-margin-border);
  padding-bottom: 6px;
  /* border-bottom-right-radius: inherit; */
}
.firstName,
.lastName {
  flex: 1 0 0;
  font-size: 2rem;
  height: 2rem;
  font-weight: 700;
}
.title {
  font-size: 1.2rem;
}
div.title,
form.title {
  flex: 1 0 0;
  margin-top: 10px;
}

.contactInfo {
  margin: 4px 0px;
}
.contactIcon {
  margin-right: var(--CV-margin-inner);
}
.contactInfo,
.contactIcon {
  font-size: 0.85rem;
}
