#cvHeader {
  /* flex: 1 0 300px; */
  min-height: 300px;
  display: flex;
  flex-direction: column;
  color: #f4f9e9;
  background-color: #284b63;
}
#cvHeader .fieldTextArea {
  background-color: rgba(255, 255, 255, 0.2);
}
#cvHeaderTop {
  flex: 1 0 0;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--CV-margin-border) 0px 10px var(--CV-margin-border);
}
#cvHeaderName {
  display: flex;
  flex-direction: column;
}
#cvHeaderName .fieldTextArea {
  max-width: 189px;
}
#cvHeaderBottom {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  justify-content: space-between;
  padding-left: var(--CV-margin-border);
  padding-bottom: 10px;
}
#cvHeaderBottom .fieldTextArea {
  max-width: 180px;
}
.firstName,
.lastName {
  flex: 1 0 0;
  font-size: 2rem;
  font-weight: 700;
}
div.firstName, div.lastName {
  padding-right: var(--CV-margin-border);
}
.title {
  font-size: 1.2rem;
}
textarea.title {
  max-width: 200px ;
}
div.title,
form.title {
  margin-top: 10px;
}

.contactInfo {
  margin: 4px 0px;
}
.contactIcon {
  margin-right: var(--CV-margin-inner);
}
.contactInfo,
.contactIcon {
  font-size: 0.85rem;
}
.contactInfo > .fieldDisp {
  padding-right: var(--CV-margin-border);
}
