.sectionHeading {
  font-size: 1.5rem;
}
.sectionBreak {
  border: 0.5px solid black;
  width: 100%;
}

#cvProfile {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
#profileInput,
#profileDisp {
  min-height: 100px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#profileInput {
  padding: var(--CV-input-padding);
  border-width: var(--CV-input-border);
  width: calc(100% - 2 * (var(--CV-input-padding) + var(--CV-input-border)));
}
#profileDisp {
    margin-bottom: var(--CV-margin-inner);
}

.skillsUL {
  padding-left: 25px;
}
.skillLI {
  margin: var(--CV-margin-inner) 0px;
}
.addSkillButton {
  width: 100%;
  background-color: aliceblue;
  border: 1px solid blue;
  border-radius: 10px;
}
.addSkillButton:hover {
  background-color: hsl(208, 100%, 77%);
  cursor: pointer;
}
.cvText {
    font-size: 0.75rem;
}
