.degreeContainer {
  display: flex;
  flex-direction: column;
  /* margin-bottom: var(--CV-margin-inner); */
  font-weight: 400;
  font-size: 1rem;
}
.degreeContainer > div {
  margin-bottom: 5px;
}
.degreeContainer .buttonContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--CV-margin-border);
}
.degreeContainer__left {
  flex: 1 0 0;
}
.degreeContainer__right {
  flex: 3 0 0;
}
.startRow {
  display: flex;
}

.degree__school {
  color: #284b63;
  font-weight: 600;
}

.currentButtonEnabled{
  background-color: rgb(138, 122, 36);
  cursor: pointer;
  font-weight: 400;
}
