.degreeContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--CV-margin-inner);
  font-weight: 400;
}
.degreeContainer > div {
  margin-bottom: 5px;
}
.degreeContainer > .buttonContainer {
  margin-bottom: 30px;
}
.degreeContainer__left {
  flex: 1 0 0;
}
.degreeContainer__right {
  flex: 3 0 0;
}
.startRow {
  display: flex;
}
.degree__buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.degree__deleteJobButton {
  border: 1px solid lightblue;
  border-radius: 10px;
}
.degree__school__disp {
  color: #284b63;
  font-weight: 600;
}
