#cvEducation {
  padding-left: var(--CV-margin-border);
  margin-top: 30px;
}
#cvEducation select {
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  outline: none;
  border: none;
  width: 100px;
}
