.fieldDisp {
  width: fit-content;
  height: fit-content;
}
.fieldDisp:hover {
  cursor: text;
  border-radius: 2px;
  padding: 0px 5px;
  background-color: rgba(138, 122, 36, 0.75);
  color: #f4f9e9;
}
.fieldTextArea {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

.check {
  margin: 0px 5px;
  font-size: inherit;
}
.check:hover {
  color: green;
}
.fieldForm {
  display: flex;
  align-items: center;
}
.monthPicker {
  width: min-content;
}
.yearPicker {
  width: 55px;
}
