.fieldDisp:hover {
  background-color: azure;
  cursor: text;
}
.check {
  margin: 5px;
  font-size: 1.5rem;
}
.check:hover {
  color: green;
}
.fieldForm {
  display: flex;
  align-items: center;
}
.monthPicker {
  width: min-content;
}
.yearPicker {
  width: 55px;
}
