.fieldDisp {
  width: fit-content;
  height: fit-content;
}
.fieldDisp:hover {
  cursor: text;
  border-radius: 5px;
  padding: 0px 5px;
}
.fieldTextArea {
  font-family: inherit;
  font-style: inherit;
  color: inherit;
  border-radius: 5px;
  background-color: rgba(255,255, 255, 0.1);
  outline: none;
}

.check {
  margin: 5px;
  font-size: 1.5rem;
}
.check:hover {
  color: green;
}
.fieldForm {
  display: flex;
  align-items: center;
}
.monthPicker {
  width: min-content;
}
.yearPicker {
  width: 55px;
}
