.jobContainer {
  display: flex;
  margin-bottom: 15px;
}
.jobContainer__left {
  flex: 1 0 0;
}
.jobContainer__right {
  flex: 3 0 0;
}
.job__title__disp {
  font-weight: bold;
  font-size: 1rem;
}
.job__company__disp {
  font-size: 1rem;
}

.startRow {
  display: flex;
}
.startRow > * {
  margin-right: 4px;
}

/* Tasks */
.tasksUL {
  padding-left: 10px;
}
.taskLI {
  margin: var(--CV-margin-inner) 0px;
}
.taskItemFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.taskItemFlex > div {
  flex: 1 1 auto;
}
.jobContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: var(--CV-margin-border);
  margin: 0px 5px;
}
