#cvProfile {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
form.profile,
div.profile {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
form.profile {
  padding: var(--CV-input-padding);
  border-width: var(--CV-input-border);
  width: calc(100% - 2 * (var(--CV-input-padding) + var(--CV-input-border)));
}
div.profile {
  margin-right: var(--CV-margin-border);
}
textarea.profile {
  max-width: 485px;
}