#cvProfile {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.profile__form,
.profile__disp {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.profile__form {
  padding: var(--CV-input-padding);
  border-width: var(--CV-input-border);
  width: calc(100% - 2 * (var(--CV-input-padding) + var(--CV-input-border)));
}
.profile__disp {
  margin-right: var(--CV-margin-border);
}
