#cvSkills {
  padding-left: var(--CV-margin-border);
  /* padding-right: var(--CV-margin-border); */
  margin-top: 30px;
}
#cvSkills > .buttonContainer {
  padding-right: var(--CV-margin-border);
}
#cvSkills .fieldTextArea {
  background-color: rgba(255, 255, 255, 0.5);
}
.skillsUL {
  margin-top: 0px;
  padding: 0px;
  list-style-type: none;
}
.skillLI {
  margin: var(--CV-margin-inner) 0px;
}
.skillLI::marker {
  vertical-align: middle;
}
.skillItemFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skillItemFlex > div {
  flex: 1 1 auto;
}
.addSkillButton {
  width: fit-content;
  margin-left: auto;
  background-color: #284b63;
  color: #f4f9e9;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
}
.addSkillButton:hover {
  background-color: hsl(204, 42%, 37%);
  cursor: pointer;
}
